*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.jks
*.keystore
keystore.properties
app/build/
**/build/
*.log
.kotlin/
forge-release.jks
